## Load in Dataset

In [90]:
%load_ext autoreload
%autoreload 2
from spookyauthor.data import make_dataset

from matplotlib import pyplot as plt
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [91]:
train,test = make_dataset.load_raw_data()

/home/canyon/repos/SpookyAuthorNLP/spookyauthor/data/raw

In [92]:
train.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [93]:
test.head()

        id                                               text
0  id02310  Still, as I urged our leaving Ireland with suc...
1  id24541  If a fire wanted fanning, it could readily be ...
2  id00134  And when they had broken down the frail door t...
3  id27757  While I was thinking how I should possibly man...
4  id04081  I am not sure to what limit his knowledge may ...

Check sizes of test and train dataset

In [94]:
train.shape

(19579, 3)

In [95]:
test.shape

(8392, 2)

Get longest string by string by word count in the train set

In [96]:
train['text'].apply(lambda x: len(x.split(" "))).describe()

count    19579.000000
mean        26.730477
std         19.048353
min          2.000000
25%         15.000000
50%         23.000000
75%         34.000000
max        861.000000
Name: text, dtype: float64

See which author is most common

In [97]:
train["author"].value_counts()

EAP    7900
MWS    6044
HPL    5635
Name: author, dtype: int64

# Initial Predictions
Train a dummy classifier and see how well it performs on the given training data and Kaggle benchmark for reference

In [98]:
# Prepare Training Data
from spookyauthor.transform import preprocessing
train_id, x_train, y_true = preprocessing.split_cols(train)

In [99]:
from sklearn.dummy import DummyClassifier
import numpy as np
clf = DummyClassifier(strategy='most_frequent')
fake_x = np.zeros(len(train_y)).reshape(-1,1)

clf.fit(X=fake_x, y=y_true)

DummyClassifier(constant=None, random_state=None, strategy='most_frequent')

In [100]:
y_pred = clf.predict_proba(X=fake_x)

In [101]:
from sklearn.metrics import log_loss
log_loss(y_true, y_pred, labels=clf.classes_)

20.602603274741398

## Predict Original Labels for comparison
In this case because it's exactly the same the log loss should be nearly zero

In [102]:
import pandas as pd
y_pred=pd.get_dummies(y_true)

In [103]:
log_loss(y_true, y_pred, labels=clf.classes_)

2.1094237467878002e-15

## Use dummy classifier to predict labels for test data and see where that puts me on the leaderboard

In [111]:
from spookyauthor.models import pipeline
dummy_clf = pipeline.dummypipeline.fit(x_train, y_true)
predict_model.submission_generator(test, dummy_clf, "DummyOutputs.csv")

         EAP  HPL  MWS
id
id02310  1.0  0.0  0.0
id24541  1.0  0.0  0.0
id00134  1.0  0.0  0.0
id27757  1.0  0.0  0.0
id04081  1.0  0.0  0.0
id27337  1.0  0.0  0.0
id24265  1.0  0.0  0.0
id25917  1.0  0.0  0.0
id04951  1.0  0.0  0.0
id14549  1.0  0.0  0.0
id22505  1.0  0.0  0.0
id24002  1.0  0.0  0.0
id18982  1.0  0.0  0.0
id15181  1.0  0.0  0.0
id21888  1.0  0.0  0.0
id12035  1.0  0.0  0.0
id17991  1.0  0.0  0.0
id10707  1.0  0.0  0.0
id07101  1.0  0.0  0.0
id00345  1.0  0.0  0.0
id05912  1.0  0.0  0.0
id13443  1.0  0.0  0.0
id09248  1.0  0.0  0.0
id17542  1.0  0.0  0.0
id06995  1.0  0.0  0.0
id25159  1.0  0.0  0.0
id25729  1.0  0.0  0.0
id26949  1.0  0.0  0.0
id27191  1.0  0.0  0.0
id07668  1.0  0.0  0.0
...      ...  ...  ...
id22510  1.0  0.0  0.0
id19204  1.0  0.0  0.0
id05758  1.0  0.0  0.0
id27063  1.0  0.0  0.0
id11773  1.0  0.0  0.0
id11562  1.0  0.0  0.0
id16208  1.0  0.0  0.0
id04036  1.0  0.0  0.0
id26159  1.0  0.0  0.0
id26777  1.0  0.0  0.0
id08501  1.0  0.0  0.0
id11216  1.0  0.0  0.0
id03410  1.0  0.0  0.0
id04537  1.0  0.0  0.0
id26628  1.0  0.0  0.0
id01586  1.0  0.0  0.0
id13421  1.0  0.0  0.0
id26084  1.0  0.0  0.0
id05375  1.0  0.0  0.0
id23212  1.0  0.0  0.0
id15980  1.0  0.0  0.0
id11719  1.0  0.0  0.0
id13109  1.0  0.0  0.0
id07156  1.0  0.0  0.0
id04893  1.0  0.0  0.0
id11749  1.0  0.0  0.0
id10526  1.0  0.0  0.0
id13477  1.0  0.0  0.0
id13761  1.0  0.0  0.0
id04282  1.0  0.0  0.0

[8392 rows x 3 columns]